body {
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "poppins", sans-serif;
}

.logo > img {
  font-size: 30px;
  height: 60px;
}

a {
  color: white;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  height: 30px;
  align-items: center;
  width: 95%;
  box-shadow: 0 2px 0 0 rgb(255, 255, 255);
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0;
}

.headers {
  list-style: none;
  display: flex;
  gap: 10px;
}

.movielist {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  margin: 10%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

p {
  margin: 0px;
}
